.cabecalho{
    background-color: aqua;
    color: blue;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 100px;
}

.logo-cabecalho{
    width: 20%;
}