*{
    margin: 0;
    padding: 0;
}
.cabecalho{
    background: #54a55e;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 24px 0;
}
.logo-cabecalho{
    width: 15%;
}
.item-lista-cabecalho{
    display: inline-block;
    margin: 0% 16px;
    font-size: 24px;
   
}.informações-biotecnologia{
    background-image: linear-gradient(#C8FBBC
    54%, #C8FBBC  56%);
    color: rgb(24, 73, 39);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
}
.texto1-biotecnologia{
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 60px;
/* or 100% */
text-align: center;
letter-spacing: 0.1em;
text-indent: 5px;
font-feature-settings: 'tnum' on, 'lnum' on, 'cpsp' on, 'cv06' on;
}
.imagem-micro{
    width: 20%;
}
@media screen and (min-width:600px){
    .item-lista-cabecalho{
        text-align:right;
        text-transform: uppercase;
    }
    
}

